.btn {
  display: block;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}
.btn.red {
  background: #f00;
}
.btn.green {
  background: #0f0;
}

adide {
  width: 240px;
}
adide .menu {
  margin-bottom: 20px;
}
body#top adide {
  width: 300px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.block {
  width: 500px;
}
.block_element {
  margin-bottom: 20px;
}
.block_element_modifer {
  background-color: #f00;
}