// if文
@mixin box($type) {
  @if $type == 0 {
    border: 1px solid #333333;
  } @else if $type == 1 {
    border: 2px dotted #333333;
  } @else {
    border: none;
  }
}

.box0 {
  @include box(0);
}

.box1 {
  @include box(0);
}

.box2 {
  @include box(0);
}
